.auth{
    background: #eee;
    user-select: none;
    @include flex;
    height: 100vh;
    &__wrapper{
        width: 25%;
        height:100%;
        @include flex;
    }
    &__container{
        @include flex;
        height: 370px;
        position: relative;
    }
    &__title{
        position: absolute;
        top:15px;
        font-size: 46px;
        color:rgb(65, 65, 65);
        margin-bottom: 15px;
    }
    &__subtitle{
        position: absolute;
        top: 58px;
        font-size: 12px;
        text-transform: uppercase;
        color: gray;
    }
    &__switch{
        color: rgb(0, 157, 255);
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        user-select: none;
        bottom: 15px;
    }
    &__from{
        @include flex;
        flex-direction: column;
    }
    &__field{
        margin-top: 10px !important;
        min-width: 350px !important;
        & .MuiOutlinedInput-notchedOutline{
            border-radius: 25px !important;
        }
        & .MuiOutlinedInput-notchedOutline{
            height: 50px !important;
        }
        & .MuiAutocomplete-inputRoot{
            height: 50px !important;
        }
        & .MuiOutlinedInput-input{
            margin-top: -2px !important;
        }
        & .MuiInputLabel-outlined{
            margin-top: -3px !important;
        }
    }
    &__submit{
        width: 120px !important;
        height: 40px !important;
        background-color: #000000 !important;
        margin-top: 15px !important;
        font-size: 14px !important;
        font-weight: 700 !important;
        text-transform: capitalize !important;
    }
    &__banner{
        width: 75%;
        height: 100%;
        background-image: url("https://wallpaperaccess.com/full/3394245.jpg");
        background-size: cover;
        background-position: center;
    }
}
