.home{
  &__navigation{
    position: relative;
    width: 100%;
    @include flex;
    justify-content: flex-start !important;
    height: 80px;
    &--item{
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      margin: 10px 15px 5px;
      position: relative;
      cursor: pointer;
      a{
        color: #ffffff;
        text-decoration: none;
        outline: none;
        transition: .3s;
        &:hover{
          color: #8400ff;
        }
      }
    }
  }
  &__logo{
    font-family: montserrat,sans-serif;
    font-size:42px;
    font-weight: 900;
    color: #030005;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #8400ff,1px 1px 0 #ff005a;
    margin: 10px 40px;
  }
  &__rules{
    @include flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    height: 80vh;
    &--title{
      color: #ffffff;
      text-transform: uppercase;
      font-size: 36px;
    }
  }
}
#navigation__btn{
  position: absolute !important;
  background-color: rgba(0,0,0,0) !important;
  color: #8400ff;
  border:1px solid #ff005a;
  right: 20px;
  & svg{
    margin-left: 5px;
  }
  margin-top: 0px !important;
}
.home__navigation .home__navigation--item a:focus:after,.home__navigation .home__navigation--item a:hover:after{
  transform: scaleX(1);
  transform-origin: left center;
}
.active a{
  color: #ff005a !important;
}
