.new-game{
  &__container{
    width: 80%;
    margin: 0 auto;
    @include flex;
    background: #fff;
    flex-direction: column;
    height: 60vh;
  }
  &__title{
    font-family: 'Montserrat', sans-serif;
    font-size:42px;
    font-weight: 900;
    color: #00d9ff;
    text-transform: capitalize;
    text-shadow: -2px -2px 0 #0077ff;
    cursor: context-menu;
    user-select: none;
    padding: 15px;
  }
  &__wrapper{
    & span{
      margin-right: 10px;
    }
    & div{
      border-bottom: 1px solid #0077ff;
    }
    & div::before,& div::after{
      display: none !important;
    }
    & div *{
      color: #0077ff !important;
      width: 30px !important;
    }
  }
  &__submit{
    color: #0077ff !important;
    padding: 10px 30px !important;
    border:1px solid #0077ff !important;
    margin-top: 40px!important;
  }
  &__select--items{
    margin-top: 10px;
    color: #0077ff !important;
    border-bottom:none !important;
  }
    &__team{
      display: flex;
      align-items: center;
      justify-content: center;
      & span{
        margin-right: 10px !important;
      }
      &--input *::before,&--input *::after{
        display: none !important;
      }
      &--input{
        border-bottom: none !important;
      }
      &--input *{
        color: #0077ff !important;
      }
    }
}
.MuiMenu-paper{
  background-color: rgba(0,0,0,1) !important;
}