.profile{
  width: 80%;
  margin:0 auto;
  margin-top: 10vh;
  user-select: none;
  &__wrapper{
    @include flex;
    justify-content: flex-start;
  }
  &__id{
    margin-top: 5px;
    margin-bottom: 5px;
    user-select: all;
    font-size: 14px;
    color: gray;
  }
  &__avatar{
    margin-right:30px;
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
  }
  &__title{
    color: #000000;
    font-weight: 600;
    font-size: 36px;
    text-transform: capitalize;
  }
  &__statistic{
    &--item{
      color: #000000;
      @include flex;
      justify-content: flex-start;
      & h3{
        font-size: 14px;
        font-weight: 500;
      }
      & span{
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
  &__friends{
    &--list{
      &-avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        margin-right: 10px;
      }
      &-item{
        @include flex;
        justify-content: flex-start;
        color: #000000;
        padding:15px 0px;
        text-transform: capitalize;
        cursor: pointer;
      }
    }
    &--title{
      color: #000000;
      @include flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      & span{
        margin-left: 40px;
        @include flex;
        font-size: 18px;
        & svg{
          margin-right: 5px;
          color: gray;
          font-size: 16px;
        }
      }
    }
  }
}
#profile__btn{
  width: 150px !important;
  border: 1px solid #ffffff;
}
#profile__btn--home{
  margin-right: 50px !important;
  background-color: #ffffff !important;
  border-color: #000000 !important;
  color: #000000 !important;
  width: 200px !important;
}
